@import 'styles/_variables.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: $black;
}

// Set outer divs to full width
.App, #root {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
 }

* {
  box-sizing: border-box;
}